<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="">
  <title>VueJS video 11: v-if & v-show</title>
</head>

<body>
  <style media="screen"></style>

  <div id="app">

    <h1>v-if & v-show</h1>

    <button @click="error=!error">Toogle error </button>
    <button @click="success=!success">Toogle success </button>

    <p v-if="error">Hello error</p>
    <p v-else-if="success">Hello success</p> <br />

    <br>
    <hr><br>

    <button @click="vraie=!vraie"> Vraie ou Faux </button>
    <p v-if="vraie">Vraie !</p>
    <p v-else> Faux </p> <br />

    <br>
    <hr><br>

    <button @click="value=!value">v-show </button>
    <p v-show="value">v-show in Work</p>



  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        error: false,
        success: false,
        value: false,
        vraie: false
      },


      computed: {
        computedClasses() {}
      },
      methods: {},
    })
  </script>
</body>

</html>